
{
  color:#C9A433 ;
  
  font-size: 1,5em;
  font-family: 'Segoe UI', sans-serif;
}
.taille2{
  background-color:#F7F7F7 ;
}


#logo1{

  height: auto;
  width:100% ;
  padding-bottom: 50px;
  padding-top: 100px;
}
.color{
  color: #C9A433;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#navbar-brand{
  color:#3D2F19;
  font-weight: bolder;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.image1{

  max-width: 100%;
  height: auto;
}

.taille{
  width: 100%;
  height: 500px;
}

.couleur{
  color:#3D2F19 ;
  padding-top: 10%;
}

.card-text{
  color:#C9A433 ;
}
