
  .site-header {
    background-color:#F7F7F7;

  }
.site-header {

    color:#285498 ;
    padding-top: 25px;
    font-size: 1,5em;
    font-family: 'Segoe UI', sans-serif;
}
  
.nav-item{
  padding-right: 50px;
}

#logo1{
  height: 25%;
  width:40% ;
  padding-top: 50px;
}
.image1{

  max-width: 100%;
  height: auto;
  padding-top: 50px;
}

.container2{
  padding-top: 50px;
  font-size: 75%;
  background-color:#CAA441 ;
  color:#292019 ;
}

.femme{
  padding-bottom: 300px;
}

footer{
  padding-top: 26px;
}


    /*
 * Dummy devices (replace them with your own or something else entirely!)
 */


