
  .site-header {
    padding-top: 50px;
    background-color:#F7F7F7;

  }
.nav-link{
    color:#CAA441;
    font-size: 1,5em;
    font-family: 'Segoe UI', sans-serif;
    
}


#logo1{

  height: 25%;
  width:40% ;
}
.image1{

  max-width: 100%;
  height: auto;
}

.container2{
  font-size: 75%;
  color:#292019 ;
}



footer{

}


    /*
 * Dummy devices (replace them with your own or something else entirely!)
 */


