.nav-link{
    color:#CAA441;
    font-size: 1,5em;
    font-family: 'Segoe UI', sans-serif;

}
.taille2{
    background-color: white;
}
.taille6{
    color:#292019 ;
    font-weight: bold;
    padding-top: 25px;
}

.text{
    color:#CAA441 ;
}
.font-weight-bold{
    color: #292019 ;
}
.contact{
    color: #292019 ;
    padding-bottom: 25px;
}
.f{
    color: #292019 ;
    background-color:#CAA441;
}

.md-form{
    padding-top: 25px;
}














